
.a,.b,.c,.d{background-color:
tbody td:hover{background-color:
pink}
rgb(150, 103, 194);}
rgb(241, 110, 132);}
table{background-color: rgb(0, 238, 255);} #x{color: Iwhite; background-color:
#y{background-color:
greenyellow;}
#z{background-color: rgb(50, 127, 172);} td{width: 50px; background-color:
white; text-align: center;}
